@import "mixins"
@import "var"
@import "reset"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap')
@import "../libs/nouislider/nouislider.min.css"
@import "../libs/overlay-scrollbar/OverlayScrollbars.min.css"

body
	font-family: 'Roboto', sans-serif
	font-size: 14px
	font-weight: 400
	color: $basic

a
	text-decoration: none

button
	font-family: 'Roboto', sans-serif
	font-size: inherit
	background-color: transparent
	border: none
	cursor: pointer

input
	border: 1px solid $basic2
	font-family: 'Roboto', sans-serif
	line-height: 16px
	font-size: 14px
	border-radius: 3px
	padding: 10px 12px

.container
	max-width: 1200px
	margin: 0 auto

.hidden
	display: none

.back-link
	position: relative
	font-size: 16px
	color: $basic
	padding-left: 12px
	+ease
	opacity: 0.5

	&::before
		content: ''
		position: absolute
		left: 0
		top: 50%
		transform: translateY(-50%) rotate(90deg)
		width: 7px
		height: 10px
		background: url(../img/icons/angle-down.svg) no-repeat center
		background-size: contain

	&:hover
		opacity: 1

/** Custom checkbox **/
input[type="checkbox"]
	opacity: 0
	pointer-events: none
	position: absolute

.checkbox-label
	position: relative
	padding-left: 22px
	cursor: pointer
	display: block
	color: $basic3

	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 12px
		height: 12px
		border: 1px solid $primary
		border-radius: 2px

input[type="checkbox"]:checked + .checkbox-label

	&::before
		background: url(../img/icons/check-white.svg) no-repeat center $primary
		background-size: 8px

@media screen and ( max-width: 1210px )

	.main
		padding-bottom: 100px

	.container
		max-width: 944px

@media screen and ( max-width: 960px )

	.container
		max-width: 688px

@media screen and ( max-width: 767px )

	.main
		padding-bottom: 60px

	.container
		max-width: auto
		margin: 0 20px

@import "pages/checkout"
@import "pages/thankyou"
@import "components/components"